html,
body {
    height: 100%;
}

body {
    font: 14px "微软雅黑", Arial;
    background: #000;
    color: #FFF;
    text-align: center;
}

header,
.left,
.right {
    position: absolute;
}

header {
    left: 10px;
    top: 10px;
    right: 10px;
}

.options {
    display: inline-block;
}

.volume {
    display: inline;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 8px;
    background: #999;
    border-radius: 10px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: #fff;
    border-radius: 100%;
}

input[type="range"]::-moz-range-track {
    height: 8px;
    background: #999;
    border-radius: 10px;
    border: none;
}

ul#type {
    list-style: none;
    display: inline-block;
}

ul#type li {
    display: inline;
    padding: 8px;
    border-radius: 4px;
}

ul#type li.selected {
    background-color: greenyellow;
}

header h1 {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    /* border: 1px solid #fff; */
}

.left {
    box-sizing: border-box;
    width: 15%;
    left: 10px;
    bottom: 10px;
    top: 170px;
    /* border: 1px solid #fff; */
}

.left ul {
    overflow: auto;
    list-style: none;
    text-align: left;
}

.left ul li.selected {
    height: 30px;
    line-height: 30px;
    color: green;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li,
li:hover {
    cursor: pointer;
}

.right {
    top: 170px;
    right: 10px; 
    bottom: 10px;
    left: calc( 15% + 20px);
    /* border: 1px solid #fff; */
}

@media screen and ( max-width: 800px ), screen and ( max-height: 500px){
    body{
        font-size: 12px;
    }
    header {
        height: 80px;
    }
    header h1 {
        font-size: 24px;
        height: 34px;
        line-height: 34px;
    }
    header .type li {
        height: 16px;
        line-height: 16px;
        width: 50px;
    }
    .left, .right {
        top: 100px;
    }
}